{% extends 'YTBundle:Default:index.html.twig' %}

{% block title %} YouthTube - Home {% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.main {
			position:relative;
		}
		.algemeen {
			position:absolute;
			top:310px;
			left:50px;
			width:400px;
		}
		
		ul.nav.navbar-nav.navbar-right a {
			font-weight:bold;
			color:#a5a5a5;
		}
		
		a.list-group-item:hover {
			color:rgb(79,146,255);
		}
		
		#bg_img {
			position:relative;
			top:-20px
		}
		
		.col-sm-4 {
			margin-top:50px;
		}
		
		/*.row.content {height: 920px}*/
	</style>
{% endblock %}

{% block body %}

{% render(controller('YTBundle:Menu:menu')) %}

<div class="container">
	<div class="row content">
		<div class="col-sm-4">
			<div>
				<h2>{% trans %}Workshops{% endtrans %}</h2>
				{{ render(controller('YTBundle:Workshops:workshopsList',{'doorl':0})) }}
			</div>
			<div>
				<h2>{% trans %}Doorlopend{% endtrans %}</h2>
				{{ render(controller('YTBundle:Workshops:workshopsList',{'doorl':1})) }}
			</div>
			<div>
				{% if app.user and is_granted('ROLE_EDITOR') %}
   				<a href="/workshops/new" class="admin_links"><span class="glyphicon glyphicon-plus"></span> {% trans %}voeg nieuwe workshop toe{% endtrans %}</a>
    			{% endif %}
    		</div>
			<div>
				<span class='st_facebook_large' displayText='Facebook'></span>
				<span class='st_twitter_large' displayText='Tweet'></span>
				<span class='st_email_large' displayText='Email'></span>
			</div>
		</div>
		<div class="col-sm-8 main">			
			<img src="{{ asset('bundles/yt/images/YouthTube_BG.jpg') }}" alt="Background image" id="bg_img"/>
			<div class="algemeen">
				<p>{{ render(controller('YTBundle:Default:showAlgemeen')) }}</p>
			</div>
			<p>{% if app.user and is_granted('ROLE_EDITOR') %}<a href="{{ path('edit_algemeen',{'_locale':app.request.locale}) }}" class="admin_links"><span class="glyphicon glyphicon-edit"></span></a>{% endif %}</p>
		</div>	
	</div>
</div>
<!-- 

 -->


{% endblock %}

{% block javascripts %}
	<!-- Sharebuttons -->
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "ur-6881385-8ad1-f6cb-9c32-7a44b1b31669", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
	<!-- end Sharebuttons -->
{% endblock %}